@font-face {
  font-family: "AcuminProBold";
  src: url("fonts/acumin-pro-cufonfonts/Acumin-BdPro.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AcuminPro";
  src: url("fonts/acumin-pro-cufonfonts/Acumin-RPro.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Adorabelle";
  src: url("fonts/adorabelle-font/AdorabelleFreePersonalUseRg-rgBXO.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bohemian";
  src: url("fonts/bohemian_soul/Bohemian\ Soul.otf");
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 575.98px) {
  #heros-section {
    background-image: url("./images/xs-heros.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh !important;
  }
  .title {
    font-size: 15px;
  }
}
@media (min-width: 575.98px) {
  #heros-section {
    background-image: url("./images/sm-heros.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh !important;
  }
}
@media (min-width: 992px) {
  #heros-section {
    background-image: url("./images/m-heros.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh !important;
  }
}
@media (min-width: 1200px) {
  #heros-section {
    background-image: url("./images/d-heros.jpg");
    background-size: cover;
    background-position: center;
  }
  .title {
    font-size: 50px;
  }
}
.navbar {
  font-weight: bold;
}

.card-text {
  font-size: 13px;
  color: gray;
  text-align: justify;
  line-height: 1.3;
}
.card {
  max-width: 300px;
}
.card-title {
  font-family: AcuminProBold;
  font-size: x-large;
}
.btn_buy {
  font-size: small;
}
#about,
#menu-container {
  background-color: rgba(255, 255, 255, 0.1);
  filter: blur(100%);
  border: 1px solid white;
}
body {
  background-color: #9cdcce;
  font-family: "AcuminPro", serif;
}
.card-p {
  font-size: small;
  color: grey;
}
span {
  color: green;
}
footer {
  background-color: #282932;
}
